<app-header></app-header>
<!-- Debut politique -->
<section class="mt-5" id="section">
    <div class="test"></div>
    <h4 class="text-center mt-5 mb-4 title">Condition d’utilisation</h4>
    <p>
        Bienvenue sur Sunu Mbay, la plateforme de mise en relation entre agriculteurs et revendeurs. En utilisant notre site web, vous acceptez les conditions énoncées ci-dessous. Veuillez les lire attentivement.    </p>
        
    <ol>
        <li class="grand-titre">Utilisation du Service  : 
            <ul>
                <li>Vous devez avoir l'âge légal pour utiliser notre service.</li>
                <li>Vous êtes responsable de l'exactitude des informations que vous fournissez sur notre site.</li>
            </ul>
        </li>
        <li>Compte Utilisateur : 
            <ul>
                <li>Vous êtes responsable de la confidentialité de votre compte et de vos informations de connexion.</li>
                <li>Vous acceptez de nous informer immédiatement de toute utilisation non autorisée de votre compte.</li>
            </ul>
        </li>
        <li>Contenu Utilisateur :
            <ul>
                <li>Vous êtes responsable du contenu que vous publiez sur notre plateforme.</li>
                <li>Nous nous réservons le droit de supprimer tout contenu jugé inapproprié ou en violation de nos règles.</li>
            </ul>
        </li>
        <li>Droits de Propriété Intellectuelle :
            <ul>
                <li>Vous conservez les droits de propriété intellectuelle sur le contenu que vous téléchargez, mais vous nous accordez une licence pour utiliser, afficher et distribuer ce contenu sur notre plateforme.</li>
            </ul>
        </li>
        <li>Limitation de Responsabilité :
            <ul>
                <li>Nous ne sommes pas responsables des dommages directs, indirects, spéciaux, consécutifs ou exemplaires résultant de l'utilisation de notre service.</li>
            </ul> 
        </li>
        <li>Modification des Conditions :
            <ul>
                <li>Nous pouvons mettre à jour ces conditions d'utilisation. Les modifications seront publiées sur cette page avec une date de mise à jour.</li>
            </ul>
        </li>
        <li>Résiliation du Service :
            <ul>
                <li>Nous nous réservons le droit de résilier ou de suspendre votre accès à notre service pour violation de ces conditions.</li>
            </ul>
        </li>
        <li>Loi Applicable :
            <ul>
                <li>Ces conditions d'utilisation sont régies par les lois en vigueur dans votre juridiction.</li>
            </ul>
        </li>

    </ol>
</section>
<app-footer></app-footer>