<!-- Footer  -->
<div class="footer shadow-sm pt-5">
    <div class="logoReseaux container mb-5">
        <div class="row">
            <div class="col-lg-5 colLogo">
                <div class="logo text-right">
                    <a href="#" routerLink="/visiteur"><img src="../../assets/img/image-removebg-preview (13).png" alt="" height="100px"></a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="reseaux">
                    <h6 class="fw-bold mb-4 mt-3">Suivez nous sur nos réseaux sociaux</h6>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 mb-4 "><i class="bi bi-instagram iconeReseau"></i></div>
                        <div class="col-md-3 col-sm-6 mb-4 "><i class="bi bi-twitter iconeReseau"></i></div>
                        <div class="col-md-3 col-sm-6 mb-4 "><i class="bi bi-facebook iconeReseau"></i></div>
                        <div class="col-md-3 col-sm-6 mb-4 "><i class="bi bi-linkedin rounded-circle iconeReseau"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
    <div class="ling container mb-5">
        <div class="row container" >
            <div class="col-md-2 text-center mb-3"><a href="#" routerLink="/visiteur">Accueil</a></div>
            <div class="col-md-2  text-center mb-3"><a href="#" routerLink="/projets">Produits</a></div>
            <!-- <div class="col-md-2 text-center mb-3"><a href="#" routerLink="/apropos">A propos</a></div> -->
            <div class="col-md-4 text-center mb-3"><a href="#" routerLink="/politique">Politique de confidentialité</a>
            </div>
            <div class="col-md-4 text-center mb-3"><a href="#" routerLink="/condition">Condition d'utilisation</a></div>
        </div>

    </div>
    <div class="copyright text-center">
        <p class="my-1"><i class="bi bi-c-circle"></i> 2024 Sunu Mbay. Tous droits réservés</p>
    </div>
</div>
<!-- Fin footer  -->