<app-header></app-header>
<section class="mt-5" id="section">
    <div class="test"></div>
    <h4 class="text-center mt-5 mb-4 title">Liste des transactions</h4>
  <div class="container h-100 ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">
        <table class="table align-middle mb-0 no-gutters">
          <thead>
            <tr>
              <th id="bg-custom-color" >Date</th>
              <th id="bg-custom-color" >Transaction ID</th>
              <th id="bg-custom-color" >Type transaction</th>
              <th id="bg-custom-color" >Montant</th>
              <th id="bg-custom-color" >Mode paiement</th>
            </tr>
          </thead>
            <tbody>
              <tr>
                <td>14/01/2024</td>
                <td>TRHTVN7Q0A4M</td>
                <td>ACHAT</td>
                <td>27000</td>
                <td>Wave</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>