.btn-Ajout-pro {
    background-color: #017D03;
    color: white;
    font-weight: bold;
    height: 36px;
    margin-top: 10px;
}
.btn-annonce-pub{
    background-color: #017D03;
    color: white;
    font-weight: bold;
    height: 36px;
    margin-top: 10px;
    margin-left: -18vh;
}
nav{
    padding: 0 !important; 
}
.recherche{
    margin-left: 15vh !important;
}
.contain-annonce {
    display: flex;
    gap: 5vh;
}

.image-annonce {
    border-radius: 15px !important;
}

.btn-publier {
    color: #017D03;
    border: 1px solid #017D03;
    font-weight: bold;
    margin-right: 8vh;
}

.btn-retirer {
    background-color: #017D03;
    color: white;
    font-weight: bold;
}

.test {
    border: 2px solid #017D03;
    border-radius: 10px;
}

.btngroup {
    display: flex;
    justify-content: end;
}
.btngroup i{
    color: #017D03;
    font-size: 1.5em;
    margin-left: 5vh;
}
.inputAjout input,textarea,select {
    border: none;
    border-bottom: 2px solid #FFA439;
}
.titre-color {
    color: #017D03;
}

.color-btn-close {
    background-color: #FF9C00;
}
.btn-Ajout-modal {
    background-color: #017D03;
    color: white;
}

.btn-annuler-modal {
    background-color: #FF9C00;
    color: white;
}