<main id="dark" class="">
  <ul class="box-info">
    <li>
      <i class="bx bxs-group"></i>
      <span class="text" *ngIf="users">
        <h3>{{ users.length }}</h3>
        <p>Utilisateurs</p>
      </span>
    </li>
    <li>
      <i class="bx bi-megaphone-fill"></i>
      <span class="text" *ngIf="annonces">
        <h3>{{ annonces.length }}</h3>
        <p>Annonces</p>
      </span>
    </li>
    <li>
      <i class="bx bi bi-ui-checks-grid"></i>
      <span class="text" *ngIf="categories">
        <h3>{{ categories.length }}</h3>
        <p>Categorie</p>
      </span>
    </li>
  </ul>
  <div class="table-data">
    <div class="order">
      <h4 class="fw-bold">Liste des messages</h4>
      <table
        datatable
        [dtOptions]="dtOptions"
        class="row-border hover w-100 table"
        *ngIf="messages.length > 0"
      >
        <thead class="table-header">
          <tr class="table-header">
            <th class="table-header">Nom Complet</th>
            <th class="table-header">Email</th>
            <th class="table-header">Telephone</th>
            <th class="table-header">Message</th>
            <th class="table-header">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let message of messages">
            <td>{{ message.nom }}</td>
            <td>{{ message.email }}</td>
            <td>{{ message.telephone }}</td>
            <td class="truncated-message">{{ message.message }}</td>
            <td>
              <button
                class="btn btn-message"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                (click)="chargerInfos(message)"
              >
                Répondre
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- other table-->
      <table
        datatable
        [dtOptions]="dtOptions"
        class="row-border hover w-100 table"
      >
        <thead class="table-header">
          <tr class="table-header"></tr>
        </thead>
      </table>
    </div>
  </div>
</main>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Envoyer un message</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 inputAjout">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input
            type="email"
            class="form-control inputAjout"
            id="exampleInputEmail1"
            name="mail"
            [(ngModel)]="email"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="form-floating mb-3">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="floatingTextarea2"
            style="height: 100px"
            name="message"
            [(ngModel)]="message"
          ></textarea>
          <label for="floatingTextarea2">Message</label>
        </div>
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="floatingTextarea2"
            style="height: 100px"
            name="contenue"
            [(ngModel)]="contenue"
          ></textarea>
          <label for="floatingTextarea2">Réponse</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-Envoie" data-bs-dismiss="modal" (click)="sendReponse()">
          Envoyer
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>
