<app-header></app-header>
<!-- Debut de la section accueil -->
<section class="section-banner">
    <div class="banner-container">

    </div>
    <h1 class="text-center titre text-white">Contact</h1>
</section>
<!-- fin de section -->
<!-- section formulaire -->
<section>
    <div class="container-fluid  " id="container_contact">
        <div class="simple_text px-3" >
            <h3>Contact Information</h3>
            <p class="text-contact mt-3">Dites quelque chose pour démarrer un chat </p>
            <p class="text-contact1 ">en direct !</p>
            <ul>
                <li class="elements mt-5"><i class="fa-solid fa-phone" style="color: #ffffff;"></i> +221 774065868</li>
                <li class="elements"><i class="fa-solid fa-envelope" style="color: #ffffff;"></i> admin@gmail.com</li>
                <li class="elements"><i class="fa-solid fa-location-dot" style="color: #ffffff;"></i> Dakar-Sénégal</li>
            </ul>
        </div>
        <div class="form_conaitner">
            <form action="" id="contact-form">
                <div class="mb-3">
                    <label for="">Prénom Nom <span class="required text-danger">*</span></label>
                    <input type="text" name="nom" placeholder="Nom Complet" required [(ngModel)]="nom" (input)="verifNomFonction()">
                    <p class="text-danger" *ngIf="!exactNom">{{ verifNom }}</p>
                    <p class="text-success" *ngIf="exactNom">
                        <i class="bi bi-check2-all"></i> Correct !
                    </p>
                </div>
                <div class="mb-3">
                    <label for="">Email <span class="required text-danger">*</span></label>
                    <input type="email" name="email" placeholder="email@gmail.com" [(ngModel)]="email" required (input)="verifEmailFonction()">
                    <p class="text-danger" *ngIf="!exactEmail">{{ verifEmail }}</p>
                    <p class="text-success" *ngIf="exactEmail">
                        <i class="bi bi-check2-all"></i> Correct !
                    </p>
                </div>
                <div class="mb-3">
                    <label for="">Téléphone <span class="required text-danger">*</span></label>
                    <input type="text" name="telephone" placeholder="+221 77 777 77 77 " required [(ngModel)]="telephone" (input)="verifTelephoneFonction()">
                    <p class="text-danger" *ngIf="!exactTelephone">{{ verifTelephone }}</p>
                    <p class="text-success" *ngIf="exactTelephone">
                        <i class="bi bi-check2-all"></i> Correct !
                    </p>
                </div>
                <div class="mb-3">
                    <label for="">Message <span class="required text-danger">*</span></label>
                    <textarea id="message" name="message" placeholder="Votre message"
                        required [(ngModel)]="message"> </textarea>
                </div>
                <button type="button" id="submite" (click)="AjoutMessage()">Envoyer</button>
            </form>
        </div>
    </div>
</section>
<!-- End section formulaire -->
<app-footer></app-footer>