<main id="dark" class="">
     <ul class="box-info">
        <li>
            <i class='bx bxs-group'></i>
            <span class="text">
                <h3>1020</h3>
                <p>Utilisateurs</p>
            </span>
        </li>
        <li>
            <i class='bx bi-megaphone-fill'></i>
            <span class="text">
                <h3>2834</h3>
                <p>Annonces</p>
            </span>
        </li>
        <li>
            <i class='bx bi bi-ui-checks-grid'></i>
            <span class="text">
                <h3>254</h3>
                <p>Categorie</p>
            </span>
        </li>
    </ul>  
     <div class="table-data">
        <div class="order contain-annonce">
            <div class="card mb-3 test" style="max-width: 440px;">
                <div class="row g-0">
                    <div class="col-md-4">
                    <img src="https://img.freepik.com/photos-gratuite/close-up-of-fort-legumes-murs_329181-4612.jpg?w=826&t=st=1705671718~exp=1705672318~hmac=bd3708c00838bc427ba3388b8370d2c23413953adf2752826336c9c70b530dcf" class="img-fluid rounded h-100 image-annonce p-2" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Reduction sur ces produits</h5>
                        <p class="card-text">
                            Nous sommes ravis de vous présenter notre récolte de mangues bio, fraîchement cueillies dans nos vergers. <br> Merci a  Marie Laure COLY
                        </p>
                        <div class="btngroup">
                            <button type="button" class="btn btn-publier">Publier</button>
                            <button type="button" class="btn btn-retirer">Retirer</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 test" style="max-width: 440px;">
                <div class="row g-0">
                    <div class="col-md-4">
                    <img src="https://img.freepik.com/photos-gratuite/close-up-of-fort-legumes-murs_329181-4612.jpg?w=826&t=st=1705671718~exp=1705672318~hmac=bd3708c00838bc427ba3388b8370d2c23413953adf2752826336c9c70b530dcf" class="img-fluid rounded h-100 image-annonce p-2" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Reduction sur ces produits</h5>
                        <p class="card-text">
                            Nous sommes ravis de vous présenter notre récolte de mangues bio, fraîchement cueillies dans nos vergers. <br> Merci a  Marie Laure COLY
                        </p>
                        <div class="btngroup">
                            <button type="button" class="btn btn-publier">Publier</button>
                            <button type="button" class="btn btn-retirer">Retirer</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</main>