<app-header></app-header>
<!-- Debut politique -->
<section class="mt-5" id="section">
    <div class="test"></div>
    <h4 class="text-center mt-5 mb-4 title">Politique de Confidentialité</h4>
    <p>
        Bienvenue sur Sunu Mbay, la plateforme de mise en relation entre agriculteurs et revendeurs. La confidentialité et la sécurité de vos informations sont essentielles pour nous. Cette politique explique quelles informations nous collectons, comment nous les utilisons, et comment vous pouvez exercer vos droits en matière de confidentialité.
    </p>
    <ol>
        <li class="grand-titre">Informations Collectées : 
            <ul>
                <li>Nous collectons les informations que vous fournissez volontairement lors de l'inscription, de la création de profil, ou de l'utilisation de nos services.</li>
                <li>Les informations collectées peuvent inclure des données personnelles telles que votre nom, adresse, numéro de téléphone, adresse e-mail, etc.</li>
                <li>Nous utilisons des cookies et des technologies similaires pour collecter des informations sur votre utilisation de notre site web.</li>
            </ul>
        </li>
        <li>Utilisation des Informations : 
            <ul>
                <li>Nous utilisons vos informations pour faciliter la mise en relation entre agriculteurs et revendeurs.</li>
                <li>Les informations peuvent être utilisées pour personnaliser votre expérience, améliorer nos services, et vous informer des mises à jour importantes.</li>
            </ul>
        </li>
        <li>Partage d'Informations :
            <ul>
                <li>Nous ne vendons, ne louons ni ne partageons vos informations personnelles avec des tiers sans votre consentement, sauf dans les cas prévus par la loi.</li>
            </ul>
        </li>
        <li>Sécurité des Données : 
            <ul>
                <li>Nous mettons en place des mesures de sécurité pour protéger vos informations contre tout accès non autorisé ou utilisation abusive.</li>
            </ul>
        </li>
        <li>Vos Droits :
            <ul>
                <li>Vous avez le droit d'accéder à vos données personnelles, de les rectifier, de les supprimer, de vous opposer à leur traitement, ou de demander leur portabilité.</li>
                <li>Vous pouvez exercer ces droits en nous contactant à [adresse e-mail/contact].</li>
            </ul> 
        </li>
        <li>Modifications de la Politique : 
            <ul>
                <li>Nous pouvons mettre à jour cette politique de confidentialité. Les modifications seront publiées sur cette page avec une date de mise à jour.</li>
            </ul>
        </li>

    </ol>
</section>
<app-footer></app-footer>