<app-header></app-header>
<!-- Debut section profil -->
<div class="test"></div>
<section id="section">
    <div class="container conteneur">
        <h4 class="text-center titre py-4">Information du profil</h4>
        <div class="contain-contenu">
            <div class="col-image">
                <div class="cercle-image">
                    <img src="https://img.freepik.com/photos-gratuite/portrait-belle-femme-noire-souriante_23-2149095668.jpg?w=360&t=st=1705939742~exp=1705940342~hmac=6413ab266b53817990c8d3126efe7facd1ea7e9d4a27d75368b8c51e7284ac85" alt="" width="100" height="100">
                </div>
            </div>
            <div class="col-info mt-5">
                <p>Nom :</p>
                <p>Prenom : </p>
                <p>Adresse :</p>
                <p>Email :</p>
                <p>Contact :</p>
            </div>
        </div>
        <div class="contain-button">
            <button class="btn btn-profil fw-bold mb-5" routerLink="/modification-profil">Editer profil</button>
            <button class="btn btn-trans fw-bold mb-5 ms-3" routerLink="/historique-transaction">Historique transactions</button>
        </div>
    </div>
</section>
<app-footer></app-footer>