<app-header></app-header>
<!-- Debut section profil -->
<div class="test"></div>
<section id="section">
  <div class="container conteneur">
    <h4 class="text-center titre py-4">Information du profil</h4>
    <div class="contain-contenu">
      <div class="col-image">
        <div class="cercle-image">
          <img
            src="http://127.0.0.1:8000/images/{{ image }}"
            alt=""
            width="100"
            height="100"
          />
        </div>
      </div>
      <div class="col-info mt-5">
        <p>Nom :{{ nom }}</p>
        <p>Prenom : {{ prenom }}</p>
        <p>Adresse : {{ adresse }}</p>
        <p>Telephone : {{ contact }}</p>
        <p>Email : {{ email }}</p>
      </div>
    </div>
    <div class="contain-button">
      <button
        class="btn btn-profil fw-bold mb-5"
        routerLink="/modification-profil"
      >
        Editer profil
      </button>
      <button
        class="btn btn-trans fw-bold mb-5 ms-3"
        routerLink="/historique-transaction"
      >
        Listes commandes
      </button>
    </div>
  </div>
</section>
<app-footer></app-footer>
