<main id="dark" class="">
     <ul class="box-info">
        <li>
            <i class='bx bxs-group'></i>
            <span class="text">
                <h3>1020</h3>
                <p>Utilisateurs</p>
            </span>
        </li>
        <li>
            <i class='bx bi-megaphone-fill'></i>
            <span class="text">
                <h3>2834</h3>
                <p>Annonces</p>
            </span>
        </li>
        <li>
            <i class='bx bi bi-ui-checks-grid'></i>
            <span class="text">
                <h3>254</h3>
                <p>Categorie</p>
            </span>
        </li>
    </ul>
    <div class="grid-contain-form">
        <div class="table-data">
            <div class="order">
                <form>
                    <h5 class="fw-bold text-center mb-5">Ajout Categorie</h5>
                    <div class="mb-3">
                        <label for="categorie" class="form-label">Nom categorie</label>
                        <input type="email" class="form-control input-categorie rounded-0 " id="categorie" aria-describedby="categorie">
                    </div>
                    <button type="submit" class="btn btn-ajout  d-block m-auto ">Ajouter</button>
                </form>
            </div>
        </div>
        <div class="table-data">
            <div class="order">
                <h4 class="fw-bold ">Liste des categories</h4>
                <table class="table table-responsive-md table1 table-sm px-5 py-5 table table-with-padding " id="table-list">
                    <thead >
                        <tr class="h-25 px-2 py-3" style="background-color: red;">
                            <th scope="col" >Nom categorie</th>
                            <th scope="col" >Action </th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    <tr>
                        <td>Legume</td>
                        <td id="iconAction">
                            <i class="bi bi-trash3-fill"></i>
                        </td>
                    </tr>
            
                    </tbody>
                </table>
    
            </div>
        </div>

    </div>


             
</main>