<main id="dark" class="">
     <ul class="box-info">
        <li>
            <i class='bx bxs-group'></i>
            <span class="text" *ngIf="users">
                <h3>{{ users.length }}</h3>
                <p>Utilisateurs</p>
            </span>
        </li>
        <li>
            <i class='bx bi-megaphone-fill'></i>
            <span class="text" *ngIf="annonces">
                <h3>{{ annonces.length }}</h3>
                <p>Annonces</p>
            </span>
        </li>
        <li>
            <i class='bx bi bi-ui-checks-grid'></i>
            <span class="text" *ngIf="categories">
                <h3>{{ categories.length }}</h3>
                <p>Categorie</p>
            </span>
        </li>
    </ul>
    <div class="grid-contain-form">
        <div class="table-data">
            <div class="order">
                <form>
                    <h5 class="fw-bold text-center mb-5">Ajout Categorie</h5>
                    <div class="mb-3">
                        <label for="categorie" class="form-label">Nom categorie</label>
                        <input type="email" class="form-control input-categorie rounded-0 " id="nom_categorie" aria-describedby="categorie" name="nom_categorie" [(ngModel)]="nom_categorie">
                    </div>
                    <button type="submit" class="btn btn-ajout  d-block m-auto " (click)="AjoutCategorie()">Ajouter</button>
                </form>
            </div>
        </div>
        <div class="table-data">
            <div class="order">
                <h4 class="fw-bold ">Liste des categories</h4>
                <table class="table align-middle mb-0 no-gutters">
                    <thead>
                        <tr class="h-25 px-2 py-3" style="background-color: red;">
                            <th scope="col" id="bg-custom-color">Nom categorie</th>
                            <th scope="col" id="bg-custom-color">Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let categorie of categories">
                            <td>{{ categorie.nom_categories }}</td>
                            <td id="iconAction">
                                <i class="bi bi-trash3-fill" type="button" (click)="SupprimerCategorie(categorie.id ?? -1)"></i>
                            </td>
                        </tr>
                    </tbody>
            </table>
            </div>
        </div>

    </div>


             
</main>