
.table1 thead tr th {
    background-color: #017D03;
    color: white;
}

tbody tr td i {
    color: #017D03;
    
}
.grid-contain-form{
    display: grid;
    grid-template-columns: 1.2fr 1.5fr;
    /* border: 2px solid red; */
}
.btn-ajout{
    background-color: #017D03;
    color: white;
    font-weight: bold;
}
.input-categorie{
    border-bottom:  2px solid #017D03;
    border-top:0 ;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
}

#bg-custom-color {
    background-color: #107D03 !important;
    color: white;
}