.btn-Ajout-pro{
    background-color: #017D03;
    color: white;
    font-weight: bold;
    height: 36px;
    margin-top: 10px;
}
nav{
    padding: 0 !important;
}

/* Debut de la stylisation de produit */
.bi {
    font-size: 2em;
    color: #017D03;
}

.grid-produit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vh;
}

.col {
    border: 2px solid #B6B4B4;
    padding-top: 3vh;
    border-radius: 10px;
    /* height: 420px; */
}

.image-col {
    height: 200px;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
}

.image-col img {
    border-radius: 7px;
}

.titre-couleur {
    color: #017D03;
}

.image-profil {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 5px;
    margin-top: 10vh;
}

.image-profil img {
    height: 45px;
    width: 45px;
    border-radius: 50%;

}

.info-profil {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    /* border: 2px solid; */
    width: 75%;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin-top: 9vh;
}

.info span {
    /* margin-top: 17vh; */
    font-weight: bold;
    color: black;
}

.btn-retirer {
    background-color: #017D03;
    color: white;
    display: block;
    margin: 0 auto;
    margin-top: 6vh;
}
.btngroup {
    display: flex;
    justify-content: end;
}

.btngroup i {
    color: #017D03;
    font-size: 1.5em;
    margin-left: 2vh;
    margin-right: 12px;
}
.btn-Ajout-modal{
    background-color: #017D03;
    color: white;
}
.btn-annuler-modal{
    background-color: #FF9C00;
    color: white;
}
.titre-color{
    color: #017D03;
}
.color-btn-close{
    background-color: #FF9C00;
}

.inputAjout input,textarea,select {
    border: none;
    border-bottom: 2px solid #FFA439;
}