<main id="dark" class="">
     <ul class="box-info">
        <li>
            <i class='bx bxs-group'></i>
            <span class="text">
                <h3>1020</h3>
                <p>Utilisateurs</p>
            </span>
        </li>
        <li>
            <i class='bx bi-megaphone-fill'></i>
            <span class="text">
                <h3>2834</h3>
                <p>Annonces</p>
            </span>
        </li>
        <li>
            <i class='bx bi bi-ui-checks-grid'></i>
            <span class="text">
                <h3>254</h3>
                <p>Categorie</p>
            </span>
        </li>
    </ul>
    <div class="table-data">
        <div class="order">
            <h4 class="fw-bold ">Liste des commandes</h4>
            <table class="table table-responsive-md table1 table-sm px-5 py-5 table table-with-padding " id="table-list">
                <thead >
                    <tr class="h-25 px-2 py-3" style="background-color: red;">
                        <th scope="col" >Photo</th>
                        <th scope="col" >Client</th>
                        <th scope="col" >Etat</th>
                        <th scope="col" >Montant</th>
                        <th scope="col" >Mode paiement</th>
                        <th scope="col" >Action </th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr>
                    <th><img style="width: 50px; height: 50px; border-radius: 50px" src="" alt=""></th>
                    <td>Khady Mbengue</td>
                    <td>
                        <span class="badge rounded-pill text-danger">En cours</span>
                    </td>
                    <td>27000</td>
                    <td>Wave</td>
                    <td id="iconAction">
                        <i class="bi bi-eye-fill"></i>
                    </td>
                </tr>
        
                </tbody>
            </table>
        </div>
    </div>
             
</main>