<main id="dark" class="">
     <ul class="box-info">
        <li>
            <i class='bx bxs-group'></i>
            <span class="text">
                <h3>1020</h3>
                <p>Utilisateurs</p>
            </span>
        </li>
        <li>
            <i class='bx bi-megaphone-fill'></i>
            <span class="text">
                <h3>2834</h3>
                <p>Annonces</p>
            </span>
        </li>
        <li>
            <i class='bx bi bi-ui-checks-grid'></i>
            <span class="text">
                <h3>254</h3>
                <p>Categorie</p>
            </span>
        </li>
    </ul>
    <div class="table-data">
        <div class="order">
            <h4 class="fw-bold ">Liste des commandes</h4>
            <table datatable [dtOptions]="dtOptions" class="row-border  hover w-100 table">
            <thead class="table-header">
                <tr class="table-header">
                    <th class="table-header">Photo</th>
                    <th class="table-header">Client</th>
                    <th class="table-header">Etat</th>
                    <th class="table-header">Montant</th>
                    <th class="table-header">Mode paiement</th>
                    <th class="table-header">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="" alt=""></td>
                    <td>Mouhamadou </td>
                    <td><span class="badge">En cours</span></td>
                    <td>27000</td>
                    <td>Wave</td>
                    <td><i class="bi bi-eye-fill" type="button" data-bs-toggle="modal" data-bs-target="#commande"></i></td>
                </tr>
                <tr>
                    <td><img src="" alt=""></td>
                    <td>Mouhamadou </td>
                    <td><span class="badge-Termine">Terminer</span></td>
                    <td>27000</td>
                    <td>Wave</td>
                    <td><i class="bi bi-eye-fill" type="button"></i></td>
                </tr>
                 <tr>
                    <td><img src="" alt=""></td>
                    <td>Mouhamadou </td>
                    <td><span class="badge-Annuler">Annuler</span></td>
                    <td>27000</td>
                    <td>Wave</td>
                    <td><i class="bi bi-eye-fill" type="button"></i></td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
             
</main>

<!-- Modal -->
<div class="modal modal-lg fade" id="commande" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0 ">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <table class="table align-middle mb-0 no-gutters">
          <thead>
            <tr>
              <th id="bg-custom-color" >Photo</th>
              <th id="bg-custom-color" >Produit</th>
              <th id="bg-custom-color" >Prix (kg)</th>
              <th id="bg-custom-color" >Quantite (Kg)</th>
              <th id="bg-custom-color" >Total</th>
            </tr>
          </thead>
            <tbody>
              <tr>
                <td><img src="" alt=""></td>
                <td>Mangue</td>
                <td>600</td>
                <td>100 kg</td>
                <td>160 000</td>
              </tr>
            </tbody>
        </table>
        <div class="sous-total">
          <p>Sous-total: 320 000</p>
        </div>
      </div>
    </div>
  </div>
</div>